{% extends "layout.html" %}
{% block title %}Patroller Sign On{% endblock %}
{% block content %}

    <form class="form-horizontal" method="post" action="/activity">
    <fieldset>

    <!-- Form Name -->
    <legend>Patroller Sign On</legend>


    <p>
      Please select a patroller and location to sign in or out.
    </p>

    <!-- Text input-->
    <div class="form-group">
      <label for="patroller-id">Select Patroller</label>
      <select class="form-control" name="patroller-id" id="patroller-id">
        {% for patroller in Patrollers %}
          <option value="{{patroller.id }}">{{ patroller.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="location-name">Select Location</label>
      <select class="form-control" name="location-name" id="location-name">
        {% for location in Locations %}
          <option>{{ location.name }}</option>
        {% endfor %}
      </select>
    </div>


    <div class="checkbox">
      <label>
        <input type="checkbox" name="is_leader"> Location Leader
      </label>
    </div>

    <!--  -->

    <!-- Button -->
    <div class="form-group">
      <div class="col-md-4"></div>
      <div class="col-md-4 center-block">
        <button id="singlebutton" name="button" value="sign-in" class="btn btn-success">Sign In</button>
        <button id="singlebutton" name="button" value="sign-out" class="btn btn-info">Sign Out</button>
      </div>
      <div class="col-md-4"></div>

    </div>

    <!-- Show patrollers by location -->
    <div class="row">
      {% for location in active_patrollers %}
      <div class="col-md-3">
        <label>{{ location }}</label>
        <div class="well">
          {% for patroller in active_patrollers[location] %}
            <p>{{ patroller.name }} {{ patroller.is_leader }}
              {% if patroller.is_leader %}
                <span class="glyphicon glyphicon-star"></span>
              {% endif %}</p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}
